<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type
        name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tenguyama_holidays_holiday_listing_data_source" xsi:type="string">
                    Tenguyama\Holidays\Model\ResourceModel\Holiday\Collection
                </item>
            </argument>
        </arguments>
    </type>



    <virtualType name="Tenguyama\Holidays\Model\ResourceModel\Holiday\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tenguyama_holidays</argument>
            <argument name="resourceModel" xsi:type="string">Tenguyama\Holidays\Model\ResourceModel\Holiday</argument>
        </arguments>
    </virtualType>


</config>
